#
# Copyright (C) 2023 The Pixel Experience
#
# SPDX-License-Identifier: Apache-2.0
#

on fs
    mkdir /mnt/vendor/dsp 0770 root root
    copy /vendor/dsp/cdsp/fastrpc_shell_3 /mnt/vendor/dsp/fastrpc_shell_3
    chmod 0644 /mnt/vendor/dsp/fastrpc_shell_3
    mount none /mnt/vendor/dsp/fastrpc_shell_3 /vendor/dsp/cdsp/fastrpc_shell_3 bind

on late-init
    # Start services for bootanim
    start surfaceflinger
    start bootanim
    start vendor.hwcomposer-2-3
    start vendor.qti.hardware.display.allocator

on boot
    # Camera
    chmod 0660 /sys/android_camera/sensor
    chown system system /sys/android_camera/sensor

    # Flash
    chmod 0660 /sys/class/leds/led:flash_0/brightness
    chmod 0660 /sys/class/leds/led:flash_1/brightness
    chmod 0660 /sys/class/leds/led:flash_2/brightness
    chmod 0660 /sys/class/leds/led:torch_0/brightness
    chmod 0660 /sys/class/leds/led:torch_1/brightness
    chmod 0660 /sys/class/leds/led:torch_2/brightness
    chmod 0660 /sys/class/leds/led:switch_0/brightness
    chmod 0660 /sys/class/leds/led:switch_1/brightness
    chmod 0660 /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/led:flash_1/brightness
    chown system system /sys/class/leds/led:flash_2/brightness
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:torch_2/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/flashlight/brightness

    # IR
    chmod 0660 /dev/spidev7.1
    chown system system /dev/spidev7.1

    # Power supply
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chmod 0660 /sys/class/power_supply/battery/charging_enabled
    chown system system /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/charging_enabled

    # Thermal
    chmod 0770 /sys/class/power_supply/battery/device/thermalcall
    chown system system /sys/class/power_supply/battery/device/thermalcall

    # Touchpanel
    chown system system /sys/touchpanel/capacitive_keys
    chown system system /sys/touchpanel/double_tap
    chmod 0600 /sys/touchpanel/double_tap
    chown system system /sys/touchpanel/reversed_keys

on charger
    chown system system /sys/class/leds/red/brightness
    write /sys/class/leds/red/brightness 255

# Workaround for camera HAL can not read sys property
on property:sys.camera.face.unlock=*
    setprop vendor.camera.face.unlock ${sys.camera.face.unlock}

on property:vendor.post_boot.parsed=1
    # Back to default VM settings
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 10